.dart_tool/
.packages
build/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/.gradle
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.podspec
web/
ios/Runner/Assets.xcassets/
android/app/src/main/res/
.metadata
